body{
    font-family: "roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header, .h-main, .footer{
    background-color: #1F2937;
    color: white;
}

.header{
    height: 120px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.h{
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 13px;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 20px;
}

li{
    list-style-type: none;
    
}

.b1{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #1F2937;
}

.hln{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button{
    background-color: #3882f6;
    color: white;
}

.title-2{
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

.first-mid{
    font-size: 18px;
    color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    font-weight: lighter;
}

.Thor{
    font-style: bold;
    font-weight: bolder;
}

.four-mid{
    height: 350px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.b-box{
    width: 1150px;
    background-color: #3882F6;
    color: white;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.footer{
    padding: 40px;
    display: flex;
    justify-content: center;
}